.git
.pytest_cache
**/__pycache__
**/*.pyc
tmp
*.aux
*.fls
*.fdb_latexmk
*.log
*.out
*.pdf
geophysical_cache
ranking_top_diagnostics/diagnostics
ranking_output/diagnostics
ranking_pilot/diagnostics
.DS_Store
webapp/db.sqlite3
webapp/staticfiles
